@tailwind base;
@tailwind components;
@tailwind utilities;

.right-to-left {
	animation: right-to-left 0.2s linear;
}

@keyframes left-to-right {
	0% {
		transform: translateX(-20%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes right-to-left {
	0% {
		transform: translateX(20%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
